$primary-color: #18324d;
$secondary-color: #8fa7bf;
$light-background-color: #f9fafe;
$primary-gradient-color: #ff7711;
$secondary-gradient-color: #ed5774;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 10px;
  scroll-behavior: smooth;
}
